<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OdontoSoft - Nueva Cita</title>
    <link href="/c3s37grupo3/css/estilos.css" rel="stylesheet">
    <link href="/c3s37grupo3/css/citas.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/24addeb076.js" crossorigin="anonymous"></script>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="logo">
            <img src="/c3s37grupo3/imgs/logo.jpg">
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color: white" href="/templates/index.html">OdontoSoft</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/usuario/list">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/paciente/list">Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/odontologo/list">Odontologos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/servicio/list">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/tratamiento/list">Tratamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Citas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/historia_clinica/list">Historias Clinicas</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section class="marco">
    <div class="card m-5">
        <div class="card-header">
            Nueva cita
        </div>
        <div class="card-body">
            <form th:action="@{/cita/guardar}" th:object="${cita}" method="post">
                <!--Campo oculto para capturar el codigo en modo editar-->
                <input type="hidden" th:field="*{codi_cit}" />

                <div class="row m-2">
                    <div class="col-4 text-end">
                        Fecha:
                    </div>
                    <div class="col-4">
                        <input type="date" th:field="*{fech_cit}" class="form-control" required />
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-4 text-end">
                        Hora:
                    </div>
                    <div class="col-3">
                        <input type="time" th:field="*{hora_cit}" class="form-control" required>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-4 text-end">
                        Odontologo:
                    </div>
                    <div class="col-4">
                        <select th:field="*{iden_odo_cit}" class="form-control">
                            <option th:each="dataodo:${odontologo}" th:value="${dataodo.iden_odo}" th:text="${dataodo.codi_usu_odo.nomb_usu} +' '+ ${dataodo.codi_usu_odo.apel_usu}"></option>
                        </select>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-4 text-end">
                        Servicio:
                    </div>
                    <div class="col-4">
                        <select th:field="*{codi_ser_cit}" class="form-control">
                            <option th:each="dataser:${servicio}" th:value="${dataser.codi_ser}" th:text="${dataser.nomb_ser}"></option>
                        </select>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-4 text-end">
                        Paciente:
                    </div>
                    <div class="col-4">
                        <select th:field="*{iden_pac_cit}" class="form-control">
                            <option th:each="datapac:${paciente}" th:value="${datapac.iden_pac}" th:text="${datapac.iden_pac}"></option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" type="submit">Agendar <i class="fa-solid fa-calendar-check"></i></button>
                    </div>
                    <div class="col-2">
                        <a href="/c3s37grupo3/cita/list">
                            <button class="btn btn-secondary" type="button">Volver <i class="fa-solid fa-arrow-left"></i></button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

</body>
</html>