<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OdontoSoft - Citas</title>
    <link href="/c3s37grupo3/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/24addeb076.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="logo">
            <img src="/c3s37grupo3/imgs/logo.jpg">
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color: white" href="/templates/index.html">OdontoSoft</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/usuario/list">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/paciente/list">Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/odontologo/list">Odontologos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/servicio/list">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/tratamiento/list">Tratamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Citas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/historia_clinica/list">Historias Clinicas</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section>
    <div class="card m-3">
        <div class="card-header">
            Citas
        </div>
        <div class="card-body">
            <div>
                <a href="create">
                    <button type="button" class="btn btn-primary"><i class="fa-regular fa-calendar-plus"></i> Agendar cita</button>
                </a>
            </div>
            <div class="m-1">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Odontologo</th>
                        <th scope="col">Servicio</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="datos:${cita}">
                        <th scope="row" th:text="${datos.codi_cit}"></th>
                        <td th:text="${datos.fech_cit}"></td>
                        <td th:text="${datos.hora_cit}"></td>
                        <td th:text="${datos.iden_pac_cit.codi_usu_pac.nomb_usu}+ ' ' +${datos.iden_pac_cit.codi_usu_pac.apel_usu}"></td>
                        <td th:text="${datos.iden_odo_cit.codi_usu_odo.nomb_usu}+' '+${datos.iden_odo_cit.codi_usu_odo.apel_usu}"></td>
                        <td th:text="${datos.codi_ser_cit.nomb_ser}"></td>
                        <td>
                            <a th:href="@{edit/{cod}(cod=${datos.codi_cit})}">
                                <button title="Editar" type="button" class="btn btn-outline-primary"><i class="fa-solid fa-calendar-day"></i></button>
                            </a>
                            <a th:href="@{delete/{cod}(cod=${datos.codi_cit})}">
                                <button title="Eliminar" type="button" class="btn btn-outline-danger"><i class="fa-regular fa-calendar-xmark"></i></button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>