<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OdontoSoft - Nueva Cita</title>
    <link href="/c3s37grupo3/css/estilos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/24addeb076.js" crossorigin="anonymous"></script>

    <style>
        .card{
            width: 80%;
        }

        .marco{
            margin-left: 10%;
        }

        .text-area{
            margin-left: 5% !important;
            margin-right: 5% !important;
        }

        .selects{
            margin-top: 3%;
            margin-bottom: 3%;
        }

    </style>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="logo">
            <img src="/c3s37grupo3/imgs/logo.jpg">
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color: white" href="/templates/index.html">OdontoSoft</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/usuario/list">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/paciente/list">Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/odontologo/list">Odontologos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/servicio/list">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/tratamiento/list">Tratamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/cita/list">Citas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/c3s37grupo3/historia_clinica/list">Historias Clinicas</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section class="marco">
    <div class="card m-5">
        <div class="card-header">
            Nueva historia clinica
        </div>
        <div class="card-body">
            <form th:action="@{/historia_clinica/guardar}" th:object="${historia}" method="post">
                <!--Campo oculto para capturar el codigo en modo editar-->
                <input type="hidden" th:field="*{codi_his}" />

                <div class="m-2 text-area">
                    <div>
                        Motivo de la consulta:
                        <textarea th:field="*{moticons_his}" class="form-control" rows="5"></textarea>
                    </div>
                </div>

                <div class="m-2 text-area">
                    <div>
                        Historia Medica:
                        <textarea th:field="*{histmedi_his}" class="form-control" rows="5"></textarea>
                    </div>
                </div>

                <div class="m-2 text-area">
                    <div>
                        Diagnostico:
                        <textarea th:field="*{diag_his}" class="form-control"></textarea>
                    </div>
                </div>

                <div class="row selects">
                    <div class="col-2 text-end">
                        Tratamiento:
                    </div>
                    <div class="col-3">
                        <select th:field="*{trat_tra_his}" class="form-control">
                            <option th:each="datatra:${tratamiento}" th:value="${datatra.codi_tra}" th:text="${datatra.nomb_tra}"></option>
                        </select>
                    </div>
                    <div class="col-2 text-end">
                        Paciente:
                    </div>
                    <div class="col-3">
                        <select th:field="*{iden_pac_his}" class="form-control">
                            <option th:each="datapac:${pacientes}" th:value="${datapac.iden_pac}" th:text="${datapac.iden_pac}"></option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" type="submit">Crear <i class="fa-solid fa-file-circle-check"></i></button>
                    </div>
                    <div class="col-2">
                        <a href="/c3s37grupo3/historia_clinica/list">
                            <button class="btn btn-secondary" type="button">Volver <i class="fa-solid fa-arrow-left"></i></button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

</body>
</html>