.logo img{
    width: 50px;
    height: 100%;
    margin-right: 7px;
}

.navbar{
    background-color: #001d2d;
}

.navbar-brand{
    padding-right: 3px;
    padding-left: 3px;
}

.navbar-nav a{
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

.navbar-nav a:hover{
    background-color: white;
}

.navbar-nav a:active{
    color: white;
}

.active{
    background-color: white;
}

.fondo img{
    width: 1366px;
    height: 584px;
}

.card-header{
    background-color: #0d6efd !important;
    font-weight: bold;
}




