<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar pacientes</title>
    <link href="/c3s37grupo3/css/estilos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/24addeb076.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="logo">
            <img src="/c3s37grupo3/imgs/logo.jpg">
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color: white">OdontoSoft</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/usuario/list">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/odontologo/list">Odontologos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/servicio/list">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/tratamiento/list">Tratamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/cita/list">Citas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/c3s37grupo3/historia_clinica/list">Historias Clinicas</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section>
    <div class="card m-3">
        <div class="card-header">
            Pacientes
        </div>

        <div class="card-body">
            <!--<div class="col-10 text-end">
                <a href="create">
                <button type="button" class="btn btn-outline-primary">
                    <i class="fa-sharp fa-solid fa-address-book"></i>
                </button></a>
            </div>-->
            <br>
            <div class="m-1">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Identificación</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="paciente:${pacientes}">
                        <th scope="row" th:text="${paciente.iden_pac}"></th>
                        <td th:text="${paciente.dire_pac}"></td>
                        <td th:text="${paciente.codi_usu_pac.codi_usu}"></td>

                        <td>
                            <a th:href="@{edit/{id}(id=${paciente.iden_pac})}">
                                <button type="button" class="btn btn-outline-primary"><i class="fa-sharp fa-solid fa-user-pen"></i></button>
                            </a>
                            <a th:href="@{eliminar/{id}(id=${paciente.iden_pac})}">
                                <button type="button" class="btn btn-outline-danger"><i class="fa-sharp fa-solid fa-user-xmark"></i></button>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>